body {
    position: relative;
    background-color: #343536;
    overflow-x: hidden;
    overflow-y: scroll;

}header{
    background: white;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 20;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}

header > nav {
    position: absolute;
    right: 150px;
    top: 0;
}

header > div{
    padding: 0px;
    padding-left: 200px;
    font-size: 25px;
}

header > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 41, 41, 0.96);
    font-size: 19px;
}

header > nav >ul > li > a {
    color: rgba(46, 41, 41, 0.96);
    text-decoration: none;
}

header > nav > ul > li > a:hover{
    color: grey;
}

header > nav > ul > li > a::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: grey;
    transition: width 0.2s;
}

header > nav > ul > li > a:hover::after{
    width: 50%;
    transition: width 0.2s;
}


/*----------View port Styles--------*/

main{
    position : relative;
    margin-top: 75px;
    height: 100%;
    width: 100%;
    background-image: url("../Assets/img/Background.png");
    background-size: cover;
}

/*----------Home Styles--------*/

main>section#home{
    height: 100vh;
}

#home > aside {
    position: absolute;
    padding-left:200px;
    padding-top: 160px;
    font-family: 'Poppins', sans-serif;
}

#home > section{
    padding-top: 50px;
    padding-left: 1000px;
}

#home > aside >h1{
    font-size: 60px;
    color: white;
}

#home > aside >h2{
    font-size: 50px;
    margin-bottom: 0px;
}

#home > aside >h3{
    font-size: 30px;
    margin-top:0px ;
}

#home > aside > button{
    background-color: grey;
    border: none;
    color: grey;
    padding: 12px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 80px 40px -2px;
    margin-top:50px ;
    cursor: pointer;
    text-decoration: white;
}

#home > aside > button > a{
    text-decoration: none;
    color: white;
}

#home > aside > nav >i{
    position: relative;
    background-color: grey;
    color:white;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 100%;
    padding-top: 11px;
    padding-left: 11px;
    margin-left: 15px;
    margin-right: 15px;
    top: 120px;
    cursor: pointer;
}

#home > aside > nav >i:nth-child(4){
    font-size: 35px;
}

#home > aside > button:hover{
    transform: scale(1.05);
}

#home > aside > nav >i:hover {
    box-shadow: rgba(241, 228, 6, 0.2) 0px 7px 29px 0px;
    transform: scale(1.05);
}

.sideBtn{
    position: absolute;
    bottom: -10vh;
    left: 13.5vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    transform: translate(-50%,-50%);
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: blue;
}

.sideBtn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(0);
}

.sideBtn:hover:before{
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1);
}

.sideBtn:hover{
    color: #1F1D36;
}

.sideBtn:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: solid blue 2px;
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1);
}

.sideBtn:hover:after{
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(0);
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.9s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);

    }

}
/* about me
============================================ */
#aboutPhoto{
    position: absolute;
    height: 55vh;
    width: auto;
    margin: auto;
    left: 10vw;
    top: 0;
    bottom: 0;
     border: 3px solid #44444C;
    border-radius: 50%; 
    box-shadow: 1px 2px 4px 0px #1E1E1E;
}
.backgr2{
    position: relative;
    color: #1E1E1E;
    background-color: #f5f5f5;
    height: 100vh;
}
#topic {
   
    width: max-content;
    height: max-content;
    margin: auto;
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;
    z-index: 3;
}

#topic h2{
    font-size: 40px;
    text-align: center;
}
#topic h3{
    font-size: 25px;
    text-align: center;
    color:white;
    -webkit-text-stroke: 2px #1E1E1E;  
}
.content{
    position: absolute;
    width: 50vw;
    height: max-content;
    margin: auto;
    right: 14vw;
    top: 35vh;
    
}
.content h2{
    margin-bottom: 30px;
    font-size: 22px;
}
.content h2 span{
    margin-bottom: 30px;
    color: #FECB02;
    font-size: 22px;
}
.content article{
    
    font-size: 16px;
    margin-bottom: 35px;
  
}

.content ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content ul li{
    margin-top: 30px;
    margin-right: 100px;
}


 .content ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E1E1E;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
  }

 .content ul li a:hover {
    transform: scale(1.1);
    background-color: white;
    color: #000;
    border: 1px solid #1E1E1E;


  }


/* aducation
============================================ */
#education{
    background-color: #1E1E1E;
    height: 100vh;
    color: white;
    position: relative;
}
.aduTopic{
    width: max-content;
    height: 20vh;
    margin: auto;
    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
}
section#education>div>h2{
    font-size: 40px;
    -webkit-text-stroke: 2px #D6D6D6;  
}

.school{

        position: absolute;
        top: 30vh;
        left: 10vw;
}
.ijse{
    position: absolute;
    top: 60vh;
    right: 10vw;
}
.edImg{
  width: 10vw;
  height: auto;
  border-radius: 3%;
  box-shadow: 0 0 8px rgba(248, 248, 248, 0.986);
}

.edArti {
    
    width: max-content;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px;
    position: absolute;
    
  }
  
  .edArti h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #schArti{
    top: 0;
    left: 12vw;
  }
  #ijseArti{
    text-align: right;
    right: inherit;
    
  }

  /* setificate */


  
  /* lanaugs
============================================ */
.aduTopic h2{
    font-size: 40px;
    -webkit-text-stroke: 2px #D6D6D6; 
}
.Languages{
    height: 100vh;
    color: white;
    background-color: #1E1E1E;
    position: relative;
}

.Languages ul li img{
     
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0px #14192B;
    
}  
.Languages ul {
    top: 30vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #44444C;
    width: 75vw;
    height: 55vh;
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;       
}
.Languages ul li figure figcaption{
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    
}
  /* tools
============================================ */
.tools{
    height: 90vh;
    color: white;
    background-color: #1E1E1E;
    position: relative;
}
.tools div ul li img{
     
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0px #14192B;  
}
.ul1{
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
/* .tools div ul{
    position: absolute;
    width: 75vw;
    margin: 5vw;
    height: 50vh;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.toolbac{
    top: 20vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #44444C;
    width: 75vw;
    height: 56vh;
    position: absolute;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
}
#toolsTopic{
    top: 0vh;
}
#bider{
    margin-top: 0px;
}
.tools ul li figure figcaption{
    font-size: 12px;
    margin-top: 8px;
    text-align: center;  
}
/* project
============================================ */
.proTopic{
    width: max-content;
    height: 20vh;
    margin: auto;
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;
}
.proTopic h2{
    font-size: 40px;
    text-align: center;
}
.proflex{
    left: 0;
    right: 0;
    top: 30vh;
    margin: auto;
    position: absolute;
    height: 50vh;
    width: 80vw;

    position: relative;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.proflex figure{
    position: relative;
    width: 25vw;
    height: 45vh;
    background-color: #D9D9D9;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px #14192B;
}
.proflex figure div{
    position: absolute;
    left: 0;
    right: 0;
    top: 2vh;
    margin: auto;
    width: 23vw;
    height: 35vh;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px #14192B;
}
.proflex figure figcaption{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width:23vw;
    top: 38vh;
    height: max-content;
    text-align: center;  

}
#meatShop{
    background-image: url("/assets/images/shop.png");
    background-size:  cover;
    background-position: bottom;
}
#blue{
    background-image: url("/assets/images/blueoscen.png");
    background-size:  cover;
    background-position: bottom;
}
#game{
    background-image: url("/assets/images/game.png");
    background-size:  cover;
    background-position: bottom;
}
/* assigment
==================================== */
.proflex .fig{
    background-color: #44444C;
}

/* contact
============================================ */
#contact{
    background-color: #1E1E1E;
    height: 100vh;
    color: white;
    position: relative;
}
#contactlogo{
    position: absolute;
    top: 30vh;
    left: 10vw;
}
main>section#contact>section#contactlogo>div{
    position: relative;
    height: 50px;
}
main>section#contact>section#contactlogo>div>img{
    height: 30px;
}
#chatbox{
    width: 45vw;
    top: 20vh;
    right: 12vw;
    position: absolute;
}
#telno{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#gamil{
    position: absolute;
    top: 7px;
    left: 5vw;

}
#git{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#linkin{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#address{
    position: absolute;
    top: 7px;
    left: 5vw;
}
/*  chat box in contact */
form#form {
    padding: 20px;
    width: 50vw;
    margin: 0 auto;
    color: #fff;
    position: relative;
  }
  input#name{
    width: 40%;
    position: absolute;
  }
  input#email{
    width: 50%;
    left: 50%;
    position: relative;
  }
  input,
  textarea {
    display: flex;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
    color: #44444C;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(201, 211, 214);
  }
  button {
    background-color: #44444C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #FECB02;
    color: #1E1E1E;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #chattitele{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
  }
/*
 gallery
 =========================================*/
.gallery{
    width: 75vw;
    height: 70vh;
    position: absolute;
    top: 22vh;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 10px;
}
#gtopic{
    top: 12vh;
}
.gallery div:nth-child(1){
    grid-column: 2/5;
    grid-row: 1/10;
    background-image: url("/assets/images/gallery/photo_2023-02-23_20-32-02.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(2){
    grid-column: 5/15;
    grid-row: 1/10;
    background-image: url("/assets/images/gallery/img2.jpg");
    background-size: cover;
    background-position: bottom;
  
}
.gallery div:nth-child(3){
    grid-column: 15/21;
    grid-row: 2/6;
    background-image: url("/assets/images/gallery/DSC.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(4){
    grid-column: 1/8;
    grid-row: 10/17;
    background-image: url("/assets/images/gallery/DSC_4144.jpg");
    background-size: cover;
    background-position: bottom;
}
.gallery div:nth-child(5){
    grid-column: 8/15;
    grid-row: 10/16;
    background-image: url("/assets/images/gallery/DSC_4220.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(6){
    grid-column: 15/20;
    grid-row: 6/17;
    background-image: url("/assets/images/gallery/DSC_3759.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div{
    box-shadow: 1px 2px 4px 0px #2e2b34;
    border-radius: 6px;
}
.gallery div:hover{
    transform: scale(1.08);
}


/* foter
============================================ */
footer{
    display: flex;
    position: relative;
    background-color: #44444C;
    color: white;
    height: 7vh;

}
footer p{
    margin: auto;
}
/* about me
============================================ */
#aboutPhoto{
    position: absolute;
    height: 55vh;
    width: auto;
    margin: auto;
    left: 10vw;
    top: 0;
    bottom: 0;
     border: 3px solid #44444C;
    border-radius: 7%; 
    box-shadow: 1px 2px 4px 0px #1E1E1E;
}
.backgr2{
    position: relative;
    color: #1E1E1E;
    background-color: #f5f5f5;
    height: 100vh;
}
#topic {
   
    width: max-content;
    height: max-content;
    margin: auto;
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;
    z-index: 3;
}

#topic h2{
    font-size: 40px;
    text-align: center;
}
#topic h3{
    font-size: 25px;
    text-align: center;
    color:white;
    -webkit-text-stroke: 2px #1E1E1E;  
}
.content{
    position: absolute;
    width: 50vw;
    height: max-content;
    margin: auto;
    right: 14vw;
    top: 35vh;
    
}
.content h2{
    margin-bottom: 30px;
    font-size: 22px;
}
.content h2 span{
    margin-bottom: 30px;
    color: #FECB02;
    font-size: 22px;
}
.content article{
    
    font-size: 16px;
    margin-bottom: 35px;
  
}

.content ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content ul li{
    margin-top: 30px;
    margin-right: 100px;
}


 .content ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E1E1E;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
  }

 .content ul li a:hover {
    transform: scale(1.1);
    background-color: white;
    color: #000;
    border: 1px solid #1E1E1E;


  }


/* aducation
============================================ */
#education{
    background-color: #1E1E1E;
    height: 100vh;
    color: white;
    position: relative;
}
.aduTopic{
    width: max-content;
    height: 20vh;
    margin: auto;
    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
}
section#education>div>h2{
    font-size: 40px;
    -webkit-text-stroke: 2px #D6D6D6;  
}

.school{

        position: absolute;
        top: 30vh;
        left: 10vw;
}
.ijse{
    position: absolute;
    top: 60vh;
    right: 10vw;
}
.edImg{
  width: 10vw;
  height: auto;
  border-radius: 3%;
  box-shadow: 0 0 8px rgba(248, 248, 248, 0.986);
}

.edArti {
    
    width: max-content;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px;
    position: absolute;
    
  }
  
  .edArti h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #schArti{
    top: 0;
    left: 12vw;
  }
  #ijseArti{
    text-align: right;
    right: inherit;
    
  }

  /* setificate */


  
  /* lanaugs
============================================ */
.aduTopic h2{
    font-size: 40px;
    -webkit-text-stroke: 2px #D6D6D6; 
}
.Languages{
    height: 100vh;
    color: white;
    background-color: #1E1E1E;
    position: relative;
}

.Languages ul li img{
     
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0px #14192B;
    
}  
.Languages ul {
    top: 30vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #44444C;
    width: 75vw;
    height: 55vh;
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;       
}
.Languages ul li figure figcaption{
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    
}
  /* tools
============================================ */
.tools{
    height: 90vh;
    color: white;
    background-color: #1E1E1E;
    position: relative;
}
.tools div ul li img{
     
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0px #14192B;  
}
.ul1{
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
/* .tools div ul{
    position: absolute;
    width: 75vw;
    margin: 5vw;
    height: 50vh;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.toolbac{
    top: 20vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #44444C;
    width: 75vw;
    height: 56vh;
    position: absolute;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
}
#toolsTopic{
    top: 0vh;
}
#bider{
    margin-top: 0px;
}
.tools ul li figure figcaption{
    font-size: 12px;
    margin-top: 8px;
    text-align: center;  
}
/* project
============================================ */
.proTopic{
    width: max-content;
    height: 20vh;
    margin: auto;
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;
}
.proTopic h2{
    font-size: 40px;
    text-align: center;
}
.proflex{
    left: 0;
    right: 0;
    top: 30vh;
    margin: auto;
    position: absolute;
    height: 50vh;
    width: 80vw;

    position: relative;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.proflex figure{
    position: relative;
    width: 25vw;
    height: 45vh;
    background-color: #D9D9D9;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px #14192B;
}
.proflex figure div{
    position: absolute;
    left: 0;
    right: 0;
    top: 2vh;
    margin: auto;
    width: 23vw;
    height: 35vh;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px #14192B;
}
.proflex figure figcaption{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width:23vw;
    top: 38vh;
    height: max-content;
    text-align: center;  

}
#meatShop{
    background-image: url("/assets/images/shop.png");
    background-size:  cover;
    background-position: bottom;
}
#blue{
    background-image: url("/assets/images/blueoscen.png");
    background-size:  cover;
    background-position: bottom;
}
#game{
    background-image: url("/assets/images/game.png");
    background-size:  cover;
    background-position: bottom;
}
/* assigment
==================================== */
.proflex .fig{
    background-color: #44444C;
}

/* contact
============================================ */
#contact{
    background-color: #1E1E1E;
    height: 100vh;
    color: white;
    position: relative;
}
#contactlogo{
    position: absolute;
    top: 30vh;
    left: 10vw;
}
main>section#contact>section#contactlogo>div{
    position: relative;
    height: 50px;
}
main>section#contact>section#contactlogo>div>img{
    height: 30px;
}
#chatbox{
    width: 45vw;
    top: 20vh;
    right: 12vw;
    position: absolute;
}
#telno{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#gamil{
    position: absolute;
    top: 7px;
    left: 5vw;

}
#git{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#linkin{
    position: absolute;
    top: 7px;
    left: 5vw;
}
#address{
    position: absolute;
    top: 7px;
    left: 5vw;
}
/*  chat box in contact */
form#form {
    padding: 20px;
    width: 50vw;
    margin: 0 auto;
    color: #fff;
    position: relative;
  }
  input#name{
    width: 40%;
    position: absolute;
  }
  input#email{
    width: 50%;
    left: 50%;
    position: relative;
  }
  input,
  textarea {
    display: flex;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
    color: #44444C;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(201, 211, 214);
  }
  button {
    background-color: #44444C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #FECB02;
    color: #1E1E1E;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #chattitele{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
  }
/*
 gallery
 =========================================*/
.gallery{
    width: 75vw;
    height: 70vh;
    position: absolute;
    top: 22vh;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 10px;
}
#gtopic{
    top: 12vh;
}
.gallery div:nth-child(1){
    grid-column: 2/5;
    grid-row: 1/10;
    background-image: url("/assets/images/gallery/photo_2023-02-23_20-32-02.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(2){
    grid-column: 5/15;
    grid-row: 1/10;
    background-image: url("/assets/images/gallery/img2.jpg");
    background-size: cover;
    background-position: bottom;
  
}
.gallery div:nth-child(3){
    grid-column: 15/21;
    grid-row: 2/6;
    background-image: url("/assets/images/gallery/DSC.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(4){
    grid-column: 1/8;
    grid-row: 10/17;
    background-image: url("/assets/images/gallery/DSC_4144.jpg");
    background-size: cover;
    background-position: bottom;
}
.gallery div:nth-child(5){
    grid-column: 8/15;
    grid-row: 10/16;
    background-image: url("/assets/images/gallery/DSC_4220.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(6){
    grid-column: 15/20;
    grid-row: 6/17;
    background-image: url("/assets/images/gallery/DSC_3759.jpg");
    background-size: cover;
    background-position: center;
}
.gallery div{
    box-shadow: 1px 2px 4px 0px #2e2b34;
    border-radius: 6px;
}
.gallery div:hover{
    transform: scale(1.08);
}


/* foter
============================================ */
footer{
    display: flex;
    position: relative;
    background-color: #44444C;
    color: white;
    height: 7vh;

}
footer p{
    margin: auto;
}
